.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    text-align: center;
    font-size: 4.5rem;
    font-family: JetBrainsMono Nerd Font;

}
.small-text{
    font-family: JetBrainsMono Nerd Font;
    text-align: center;
    padding-top: 3%;
    font-size: 0.8rem;
    opacity: 70%;
}